<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Video</title>
   <link rel="stylesheet" href="static/about.css">
</head>
<body>

<h2>About the project</h2>
<p>The web is the huge and most extravagant wellspring of data. To recover the information from the World Wide Web, Search Engines are commonly utilized. This paper covers different techniques which are used in recommendation system and also proposes a new system for efficient web page recommendation based on collaborative filtering i.e. using collaborative technique and CHARM algorithm which are coupled with the pattern discovery algorithm. Search engines provide a simple interface for searching for user query and displaying results in the form of the web address of the relevant web page but using traditional search engines has become very challenging to obtain suitable information. This paper proposed a search engine using Machine Learning technique that will give more relevant web pages at top for user queries.</p>

<h2>CONCLUSION</h2>
<p>Recently several recommendation systems have been proposed, that are based on collaborative filtering, content-based filtering, and hybrid recommendation techniques. Content-based filtering technique is one of the most successful recommendation techniques to solve the scalability problem related to recommendation systems and also providing better recommendations. In this paper, we cover all collaborative-based recommendation techniques which are used for better recommendations. This Hybrid recommendation method improves the prediction quality of this system.</p>
<br>
<a href="{{ url_for('home') }}" class="hero-btn">Home</a>
</body>
</html>
